<article class="text--justified">
  <header><h2>Characters</h2></header>

  <table *ngIf="characters">
    <thead>
      <tr>
        <th>Portrait</th>
        <th>Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters.characters">
        <td>
          <img class="portrait" alt="Character portrait" src="/api/characters/{{character.id}}/portrait"/>
        </td>
        <td>{{character.name}}</td>
        <td>
          <a [routerLink]="['/characters', character.id]">View</a>
        </td>
        <td>
          <a [routerLink]="['/characters', character.id, 'edit']">Edit</a>
        </td>
        <td>
          <button (click)="onDelete(character)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</article>
