<article *ngIf="character">
  <header><h2>Edit character</h2></header>

  <form class="container"  #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" [(ngModel)]="character.name"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="age">Age:</label>
          <input id="age" name="age" [(ngModel)]="character.age"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="background">Background:</label>
          <textarea id="background" name="background" [(ngModel)]="character.background"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="constitution">Constitution:</label>
          <input id="constitution" name="constitution" [(ngModel)]="character.constitution"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="strength">Strength:</label>
          <input id="strength" name="strength" [(ngModel)]="character.strength"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="charisma">Charisma:</label>
          <input id="charisma" name="charisma" [(ngModel)]="character.charisma"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <fieldset *ngIf="professions">
          <legend>Profession:</legend>
          <div *ngFor="let profession of professions.professions">
            <label>
              <input type="radio" name="profession" [(ngModel)]="character.profession" [value]="profession.id"/>
              {{profession.name}}
            </label>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Update</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm(original)">Reset</button>
      </div>
    </div>
  </form>
</article>
